<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agile Seven</title>
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/framework.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.flexslider.css">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome-4.6.3.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/jquery-1.7.1.min.js"></script>
    
</head>

<body style="background-color: antiquewhite">
    <div class="title" align="center">EMPLOYEE OF THE WEEK</div>

    <div class="block clear" id="" style="text-align: center; color: #000; margin: 5% 4% 0 4%; font-size: 90%;">
        <p>In this challenge, each member will gain points by pushing code, review other developer's code as much as possible.
           The rules are: <br>
            + 100 points / 1 pushing code <br>
            + 50 points / 1 reviewing code</p>
    </div>

    <div class="block clear" id="columnNameChallenge" style="margin-top: 10%;color: #4e88e5; font-weight: bold;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center;">
                <div class="clear">Rank</div>
            </div>
            <div class="two_quarter" style="text-align: center;">
                <div class="clear">Name</div>
            </div>
            <div class="one_quarter" style="text-align: center;">
                <div class="clear">Points</div>
            </div>
        </div>
    </div>

    <div class="block clear" style="margin-top: 3%">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #ffae23;">
                <div class="clear">1</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar2.png" style="width: 25%;"><span style="margin-left: 13%;">Melika</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">1500</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #9eb2b2;">
                <div class="clear">2</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Kaichi</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">1300</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #7c4803;">
                <div class="clear">3</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar.png" style="width: 25%;"><span style="margin-left: 13%;"> Mahmoud</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">1000</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">4</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Dieu</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">900</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">5</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar.png" style="width: 25%;"><span style="margin-left: 13%;"> Sarune</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">800</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">6</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Viloshna</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">600</div>
            </div>
        </div>
    </div>
</body>

