<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agile Seven</title>
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/framework.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.flexslider.css">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome-4.6.3.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/jquery-1.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btnMenu").click(function(){
                $("#menuContent").toggle();
            });
            $("#linkToLeaderBoard").click(function(){
                window.location.href= "leaderboard.html";
            });
            $("#linkToChallenge").click(function(){
                window.location.href= "challenge.html";
            });
            $("#linkToGold").click(function(){
                window.location.href= "gold.html";
            });
            $("#linkToSignout").click(function(){
                window.location.href= "index.html";
            });
        });
    </script>
</head>

<body style="background-color: azure">
    <div class="block clear" ><img id="btnMenu" style="float: right; width: 11%; margin: 5%;" src="../img/menu.png"></div>
    <div class="block" id="menuContent" 
    style="background-color: cadetblue;
    position: absolute;
    z-index: 999;
    padding: 4% 4% 2% 1%;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: -5%;
    margin-right: 6%;
    border: 1px solid;
    box-shadow: grey 4px 4px;
    display: none;">
            <div class="block clear" style="color: white; margin-top: 2%;" id="linkToLeaderBoard"><img src="../img/leaderboard.png" style="width: 13%;"><span style="margin-left: 7%;">Leaderboard</span></div>
            <div class="block clear" style="color: white; margin-top: 2%;"  id="linkToChallenge"><img src="../img/employee.png" style="width: 13%;"><span style="margin-left: 7%;">Employee of the week</span></div>
            <div class="block clear" style="color: white; margin-top: 2%;"  id="linkToGold"><img src="../img/goldicon.png" style="width: 13%;"><span style="margin-left: 7%;">Gold</span></div>
            <div class="block clear" style="color: white; margin-top: 2%;" id="linkToSignout"><img src="../img/signout.png" style="width: 13%;"><span style="margin-left: 7%;">Sign out</span></div>
        
    </div>
    <div class="title" align="center" style="margin: 0">LEADERBOARD</div>
    <div class="block clear" id="columnName" style="margin-top: 10%;color: #4e88e5; font-weight: bold;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center;">
                <div class="clear">Rank</div>
            </div>
            <div class="two_quarter" style="text-align: center;">
                <div class="clear">Name</div>
            </div>
            <div class="one_quarter" style="text-align: center;">
                <div class="clear">Level</div>
            </div>
        </div>
    </div>

    <div class="block clear" style="margin-top: 3%">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #ffae23;">
                <div class="clear">1</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar2.png" style="width: 25%;"><span style="margin-left: 13%;">Melika</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">15</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #9eb2b2;">
                <div class="clear">2</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Kaichi</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">13</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #7c4803;">
                <div class="clear">3</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar.png" style="width: 25%;"><span style="margin-left: 13%;"> Mahmoud</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">10</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">4</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Dieu</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">9</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">5</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar.png" style="width: 25%;"><span style="margin-left: 13%;"> Sarune</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">8</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="block clear" style="margin-top: 6%;">
        <div class="block clear " style="">
            <div class="one_quarter" style="text-align: center; margin-top: 2%; font-size: 130%; font-weight: bold;color: #000;">
                <div class="clear">6</div>
            </div>
            <div class="two_quarter" style=""> 
                <div class="clear"><img src="../img/avatar1.png" style="width: 25%;"><span style="margin-left: 13%;"> Viloshna</span></div>
            </div>
            <div class="one_quarter" style="text-align: center; margin-top: 3%;">
                <div class="clear">6</div>
            </div>
        </div>
    </div>
</body>

